recursive-include rife_ncnn_vulkan_python/rife-ncnn-vulkan/src *
recursive-include rife_ncnn_vulkan_python *
include rife_ncnn_vulkan_python/vcomp140.dll
include rife_ncnn_vulkan_python/rife-ncnn-vulkan/LICENSE
include rife_ncnn_vulkan_python/rife-ncnn-vulkan/README.md
