name: Release
on:
  push:
    tags:
      - "*"
  workflow_dispatch:

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      APPNAME: ${{ steps.get_appname.outputs.APPNAME }}
      VERSION: ${{ steps.get_version.outputs.VERSION }}
      DATE: ${{ steps.get_date.outputs.DATE }}
    steps:
      - name: Get current date
        id: get_date
        run: echo "DATE=$(date +'%Y-%m-%d')" >> $GITHUB_OUTPUT
      - name: Get app name
        id: get_appname
        run: echo ::set-output name=APPNAME::${{ github.event.repository.name }}
      - name: Get version
        id: get_version
        run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}



  windows:
    strategy:
      matrix:
        python-version: ["3.12", "3.13", "3.14"]

    needs: [setup]
    
    runs-on: windows-latest
    env:
      PACKAGENAME: ${{ needs.setup.outputs.APPNAME }}-${{ needs.setup.outputs.VERSION }}-windows
    steps:
      - name: Check for winget
        id: have_winget
        shell: pwsh
        run: |
          if (Get-Command winget -ErrorAction SilentlyContinue) {
            echo "found=true" >> $GITHUB_OUTPUT
          } else {
            echo "found=false" >> $GITHUB_OUTPUT
          }
      - name: Install winget
        if: ${{ steps.have_winget.outputs.found == 'false' }}
        uses: Cyberboss/install-winget@v1
        
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - uses: ilammy/msvc-dev-cmd@v1
      
      - name: vulkansdk
        run: |
          winget install --id=KhronosGroup.VulkanSDK --disable-interactivity --accept-source-agreements
          
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64
      - name: Check Python version
        run: |
          python --version
      - name: Install dependencies
        run: |
          pip install build
      - name: Build
        run: |
          $env:CMAKE_FLAGS="-DCMAKE_POLICY_VERSION_MINIMUM=3.5 -DPY_VERSION=${{ matrix.python-version }}"
          python -m build -w .
     
      - name: upload
        uses: actions/upload-artifact@v4
        with:
          name: windows-${{ matrix.python-version }}
          path: dist/


  linux:
    strategy:
      matrix:
        python-version: ["3.12","3.13", "3.14"]
    needs: [setup]
    runs-on: ubuntu-22.04
    env:
      PACKAGENAME: ${{ needs.setup.outputs.APPNAME }}-${{ needs.setup.outputs.VERSION }}-ubuntu1804
      DEBIAN_FRONTEND: noninteractive
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64

      - name: Check Python version
        run: |
          python --version
     
      - name: vulkansdk
        run: |
          sudo apt install libvulkan-dev

      - name: Install dependencies
        run: |
          pip install build
      - name: Build
        run: |
          export CMAKE_FLAGS="-DCMAKE_POLICY_VERSION_MINIMUM=3.5 -DPY_VERSION=${{ matrix.python-version }}"
          python -m build -w .
          
      - name: replace whl name
        run: python3 replace_whl.py
          
      - name: upload
        uses: actions/upload-artifact@v4
        with:
          name: linux-${{ matrix.python-version }}
          path: dist/


  Release:
    needs: [setup, windows, linux]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4
        with:
          path: asset
  
      - name: dist
        run: |
          mkdir -p dist
          find asset -type f -name "*.whl" -exec cp {} dist/ \;
          cd dist && ls
  
      
      - name: Create Release and Upload Release Asset
        uses: softprops/action-gh-release@v1
        with:
          name: Release ${{ needs.setup.outputs.DATE }}
          tag_name: ${{ needs.setup.outputs.DATE }}
          body: Auto Release.
          draft: false
          prerelease: false
          files: dist/*
